

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
    @section Head
{
        <style>
            body {
                background-image: url("../images/festivalBackground.jpeg");
            }
        </style>
    }
</head>
<body>
    <h1 class="text-center mt-5 pt-5 mb-3">Blackbox</h1>
    <h1 class="text-center">Fest</h1>
    <h2 class="text-center">24 - 26 september '21</h2>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button type="button" class="colorButton btn btn-secondary">Buy Tickets</button>

    </div>

</body>
</html>