@model BlackboxFest.ViewModels.ConcertViewModel


<div>

    <div class="row d-flex justify-content-center">
        <h3>MAINSTAGE</h3>
        @foreach (var item in Model.Concerts)
        {

            @if (item.StageID == 1)
            {
                @await Html.PartialAsync("_TimeTableSlotPartial", item);
            }


        }
    </div>
    <div class="row d-flex justify-content-center">
        <h3>THE CRAVE</h3>
        @foreach (var item in Model.Concerts)
        {

            @if (item.StageID == 2)
            {
                @await Html.PartialAsync("_TimeTableSlotPartial", item);
            }

        }
    </div>
    <div class="row d-flex justify-content-center">
        <h3>TECHNOVILLE</h3>
        @foreach (var item in Model.Concerts)
        {

            @if (item.StageID == 3)
            {
                @await Html.PartialAsync("_TimeTableSlotPartial", item);
            }

        }
    </div>
    <div class="row d-flex justify-content-center">

        <h3>THE DOME</h3>
        @foreach (var item in Model.Concerts)
        {
            @if (item.StageID == 4)
            {
                @await Html.PartialAsync("_TimeTableSlotPartial", item);
            }

        }
    </div>
</div>




