@model BlackboxFest.ViewModels.ConcertViewModel

        @await Html.PartialAsync("_ChooseDayButtonsPartial");
        <div class="row">
            <div>
                <h5 class="d-flex justify-content-center ml-5 ColorGold">MAINSTAGE</h5>
                @foreach (var item in Model.Concerts)
                {

                    @if (item.StageID == 1)
                    {
                        @await Html.PartialAsync("_TimeTableSlotPartial", item);
                    }

                }
            </div>
            <div>
                <h5 class="d-flex justify-content-center  ml-5 ColorGold">THE CRAVE</h5>
                @foreach (var item in Model.Concerts)
                {

                    @if (item.StageID == 2)
                    {
                        @await Html.PartialAsync("_TimeTableSlotPartial", item);
                    }

                }
            </div>
            <div>
                <h5 class="d-flex justify-content-center ml-5 ColorGold">TECHNOVILLE</h5>
                @foreach (var item in Model.Concerts)
                {

                    @if (item.StageID == 3)
                    {
                        @await Html.PartialAsync("_TimeTableSlotPartial", item);
                    }


                }
            </div>
            <div>
                <h5 class="d-flex justify-content-center  ml-5 ColorGold">THE DOME</h5>
                @foreach (var item in Model.Concerts)
                {

                    @if (item.StageID == 4)
                    {
                        @await Html.PartialAsync("_TimeTableSlotPartial", item);
                    }


                }
            </div>
        </div>

