@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";

    }
    else
    {
        Layout = (string)parentLayout;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlackboxFest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AdminPagina.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
</head>
<body class="backgroundLogin">
    <div class="mainBlock p-5">
        <div style="margin-top:10%">
            <h2>Manage your account</h2>

            <div>
                <h4>Change your account settings</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        </div>
        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
</body>
</html>
