@model BlackboxFest.ViewModels.ConcertViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
    @section Head
{
        <style>
            body {
                background-image: url("../images/background3.png");
            }
        </style>
    }
</head>
<body>
    <div class="mainBlock p-5 ">
        <h4 class="d-flex justify-content-center ColorGold">Preforming artists</h4>
        @await Html.PartialAsync("_ChooseDayArtistButtonsPartial");
        <div class="text-center">
            <form asp-controller="Artists" asp-action="Search" method="get">
                <div class="form-actions">
                    <p>

                        <input asp-for="EventSearch" placeholder="Search Artist" />
                        <input type="submit" value="Search" class="  backgroundColorGold btn btn-primary" />
                        <a class="ColorGold" asp-controller="Artists" asp-action="ArtistViewUser">Back to list</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="row">

            @foreach (var item in Model.Concerts)
            {
                if (item.Date == DateTime.Parse("26/09/2021"))
                {

                    <div class="card bg-dark text-white ml-5 mb-5" style="width: 18rem;">

                        <a asp-action="Details"asp-route-id="@item.Artist.Id" style="text-decoration: none;"> <img class="card-img-top" src="@Html.DisplayFor(modelitem => item.Artist.ImageName)" /></a>

                        <div class="d-flex justify-content-around" style="background-color:black">
                            <h4 class="card-title ColorGold">@Html.DisplayFor(modelitem => item.Artist.Name)</h4>
                        </div>

                    </div>

                }

            }

        </div>
    </div>
</body>
</html>
