@model BlackboxFest.Models.Artist

@{
    Layout = "~/Views/Shared/_LayoutArtistUserView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
  
</head>
<body>
    <div class="mainBlock p-5">
        <h3 class="d-flex justify-content-center ColorGold"> @Html.DisplayFor(model => model.Name)</h3>
        <h3 class="d-flex justify-content-center ColorGold">@Html.DisplayFor(model => model.MusicGenre)</h3>
        <div class="row d-flex justify-content-center">
            <div class="m-3">
                <a asp-action="ArtistViewUser" class=" btn btn-secondary colorButton">Back to Artistlist</a>
            </div>
            <div class="m-3">
                <a asp-controller="Concert" asp-action="Day1TimeTable" class=" btn btn-secondary colorButton">Back to TimeTable</a>
            </div>
        </div>
        <div class="d-flex justify-content-center" enctype="multipart/form-data">

            <hr />

            <div class="row">
                <div class="col-sm-12 col-md-2 col-md-2">
                    <img src="@(Model.ImageName)" asp-append-version="true" alt="Image Artist" style="width:100%; height:auto" />
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">

                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 colorTextLongDescription">
                    @Html.DisplayFor(model => model.ArtistLongDescription)
                </div>

            </div>





        </div>

    </div>
</body>
</html>
