@model BlackboxFest.Models.Artist

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AdminPagina.css" />

</head>
<body>

    <h4 class="d-flex justify-content-center mb-5">Artist</h4>
   
    <div class="row d-flex justify-content-center pt-5 AchtergrondBlock" >
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtistShortDescription" class="control-label"></label>
                    <input asp-for="ArtistShortDescription" class="form-control" />
                    <span asp-validation-for="ArtistShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtistLongDescription" class="control-label"></label>
                    <textarea asp-for="ArtistLongDescription" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    <span asp-validation-for="ArtistLongDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MusicGenre" class="control-label"></label>
                    <input asp-for="MusicGenre" class="form-control" />
                    <span asp-validation-for="MusicGenre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" onchange="previewFile()" />
                    <img class="fotoAanpassen" src="@Html.DisplayFor(modelItem=>modelItem.ImageName)" style="width:100%; height:auto" />
                    <input type="hidden" asp-for="ImageName" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn kleurblauwGroen" />
                </div>
            </form>
            <div class="d-flex justify-content-center mb-5">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

   
    <script src="~/js/custom.js" asp-append-version="true"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
