<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">

        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
            <ul class="list-unstyled components mb-5">

                <li class="active">
                    <a href="#ArtistSubmenu" data-toggle="collapse" class="dropdown-toggle">Artists</a>
                    <ul class="collapse list-unstyled" id="ArtistSubmenu">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Create">Create</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#timetableSubmenu" data-toggle="collapse" class="dropdown-toggle">Timetable</a>
                    <ul class="collapse list-unstyled" id="timetableSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#NewsSubmenu" data-toggle="collapse" class="dropdown-toggle">News</a>
                    <ul class="collapse list-unstyled" id="NewsSubmenu">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">All news items</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Create">Create news item</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#GallerySubmenu" data-toggle="collapse" class="dropdown-toggle">Gallery</a>
                    <ul class="collapse list-unstyled" id="GallerySubmenu">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Overview photo's</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Create">Add photo to gallery</a>
                        </li>

                    </ul>


                </li> 
                <break/>
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>


        </div>

    </nav>

</div>
<!-- Page Content Holder -->
