
<!-- Static navbar -->
<div>

 <aside>
     <ul class=" mb-5 list-unstyled ">

         <li class="active ml-5">
             <a href="#ArtistSubmenu" data-toggle="collapse" class="dropdown-toggle">Artists</a>
             <ul class="collapse list-unstyled" id="ArtistSubmenu">
                 <li>
                     <a class="nav-link paarsTekstKleur"  asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>
                 </li>
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="Artists" asp-action="Create">Create</a>
                 </li>

             </ul>
         </li>
         <li class="ml-5">
             <a href="#timetableSubmenu" data-toggle="collapse" class="dropdown-toggle">Timetable</a>
             <ul class="collapse list-unstyled" id="timetableSubmenu">
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="Concert" asp-action="Day1TimeTableAdmin">Day 1</a>
                 </li>
                 <li>
                     <a class="nav-link paarsTekstKleur " asp-area="" asp-controller="Concert" asp-action="Day2TimeTableAdmin">Day 2</a>
                 </li>
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="Concert" asp-action="Day3TimeTableAdmin">Day 3</a>
                 </li>

             </ul>
         </li>
         <li class="ml-5">
             <a href="#NewsSubmenu" data-toggle="collapse" class="dropdown-toggle">News</a>
             <ul class="collapse list-unstyled" id="NewsSubmenu">
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="News" asp-action="Index">All news items</a>
                 </li>
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="News" asp-action="Create">Create news item</a>
                 </li>

             </ul>
         </li>
         <li class="ml-5">
             <a href="#GallerySubmenu" data-toggle="collapse" class="dropdown-toggle">Gallery</a>
             <ul class="collapse list-unstyled" id="GallerySubmenu">
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="Gallery" asp-action="Index">Overview photo's</a>
                 </li>
                 <li>
                     <a class="nav-link paarsTekstKleur" asp-area="" asp-controller="Gallery" asp-action="Create">Add photo to gallery</a>
                 </li>

             </ul>


         </li>

         <li>
             <partial name="_LoginPartial" />
         </li>
     </ul>
 </aside>
</div>