body {
    background-color: #47515A;
    font-family:Verdana;
    color: white;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.ColorWhite {
    color: #FFFFFF;
}
.bottom-buffer {
    margin-bottom: 2.2rem;
}
.kleurTekst{
    color:aqua;
}
.kleurblauwGroen {
    background-color: #026873 !important;
}

a, a:hover, a:focus {
    color: #05F2F2;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
@media only screen and (max-width: 600px) {
    .block {
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    .visible {
        display: none;
    }
}
