@model BlackboxFest.ViewModels.TicketShopCartViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
    @section Head
{
        <style>
            body {
                background-image: url("../images/background2.png");
            }
        </style>
    }
</head>
<body>


    <h2 class=" text-center" style="margin-top:20%">Thank you for buying the tickets.</h2>
    <h2 class=" text-center">Have fun on the festival.</h2>


</body>
</html>
