@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="mainBlock p-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="block p-2">
        
            
                <section>
                    <form id="account" method="post">


                        <div class="form-group">

                            <input asp-for="Input.UserName" class="form-control mt-5" placeholder="Username" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label  asp-for="Input.RememberMe">
                                    <input  asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class=" d-grid gap-2 col-2 mx-auto">
                            <button type="submit" class="colorButton btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
     
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
