@model BlackboxFest.ViewModels.NewsViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4 class=" d-flex justify-content-center">News</h4>
<hr />
<div class="row  d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="News.Title" class="control-label"></label>
                <input asp-for="News.Title" class="form-control" />
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.ShortDescription" class="control-label"></label>
                <input asp-for="News.ShortDescription" class="form-control" />
                <span asp-validation-for="News.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.LongDescription" class="control-label"></label>
                <input asp-for="News.LongDescription" class="form-control" />
                <span asp-validation-for="News.LongDescription" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="News.Date" class="control-label"></label>
                <input asp-for="News.Date" class="form-control" />
                <span asp-validation-for="News.Date" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="News.ImageFile" class="control-label"></label>
                <input asp-for="News.ImageFile" accept="image/*" onchange="previewFile()" />
                <img src="@Html.DisplayFor(modelItem=>modelItem.News.ImageName)" style="width:auto; height:auto" />
                <input type="hidden" asp-for="News.ImageName" />
             
                <span asp-validation-for="News.ImageFile" class="text-danger"></span>


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class=" d-flex justify-content-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
