@model BlackboxFest.ViewModels.NewsViewModel

@{
    Layout = "~/Views/Shared/_LayoutNewsUserView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details News</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/userPagina.css" />
  
</head>
<body>
   
   
        <div class="card mb-5  bg-dark " enctype="multipart/form-data"style="opacity:0.98" >
            <img class="card-img" src="@(Model.News.ImageName)" asp-append-version="true" alt="Image Artist" style="align-content:center" />

            <div class="card-body " >
                <h2 class="d-flex justify-content-center ColorGold mb-5" > @Html.DisplayFor(model => model.News.Date)</h2>
                <h4 class="d-flex justify-content-center ColorGold mb-5"> @Html.DisplayFor(model => model.News.Title)</h4>
                <p class="col-sm-10 colorTextLongDescription  ml-5" style=" font-family:Verdana"> @Html.DisplayFor(model => model.News.LongDescription)</p>
            </div>
            <div class="d-flex justify-content-center">


                <a asp-action="NewsViewUser" class="colorTextLongDescription">Back to List</a>
            </div>
        </div>
    
   
</body>
</html>
