@model BlackboxFest.ViewModels.GalleryViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <h3 class="d-flex justify-content-center">OVERVIEW PHOTOS GALLERY</h3>
    <div class="row d-flex justify-content-center m-5">
        <h5>(Click on a photo to delete)</h5>
        <p class="ml-3">
            <a asp-action="Create"> <img src="~/Images/addButton.png" asp-append-version="true" style="width:2em; height:2em;" /></a>
        </p>
    </div>
  
    <div class="mainBlock p-5">
       

        <div class="row">
            @foreach (var item in Model.Galleries)
            {

            <div class=" ml-5  mb-5">

                <a asp-action="Delete" asp-route-id="@item.Id"> <img class="card-img-top"  style="width: 15rem;height:10rem" src="@Html.DisplayFor(modelitem=> item.ImageName)" /></a>

            </div>
            }
        </div>
    </div>

</body>
</html>
